span label {
    display: block;
    font: normal 0.8em arial, sans-serif;
    color: #333;
}

#container {
    max-width: 600px;
    margin: 90px auto;
}

.redondeado {
    border-radius: 5px;
}

.confondo {
    background-color: #def;
}

input {
    width: 200px;
    padding: 5px;
}

.redondeado {
    border-radius: 5px;
}

.confondo {
    background-color: #def;
}

.sinborde {
    border: 0;
}

.sinbordefondo {
    background-color: #eee;
    border: 0;
}

.outlinenone {
    outline: none;
    background-color: #dfe;
    border: 0;
}

.redondeadonorelieve {
    border-radius: 5px;
    border: 1px solid #39c;
}

.select {
    width: 200px;
    height: 26px;
}

.classtd {
    padding-top: 30px
}

.required_notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right: ;
    width: 20px;
}